/* основний колір #212121 */

/* другорядний колір #757575*/

/*фон шапки #FFFFFF*/

/* фон #F5F5F5*/

/* другорядний фон #F5F4FA*/

/* акцент #2196F3*/

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --white-text-color: #ffffff;
  --accent-color: #2196f3;
  --primary-background-color: #ffffff;
  --second-bcg-color: #f5f4fa;
  --secondary-bcg-studio: #2f303a;
  --secondary-text-color: #000000;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
}

ul {
  padding-left: 0;
}

body {
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
.border {
  border-bottom: solid 1px #ececec;
}
.logo {
  display: block;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration-line: none;
  padding-top: 19px;
  padding-bottom: 25px;
}
.logo-footer {
  display: block;
  margin-bottom: 20px;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration-line: none;
}
.web {
  color: var(--accent-color);
}
.studio {
  color: var(--secondary-text-color);
}
.studio-footer {
  color: var(--primary-background-color);
}

/*site-nav*/
.main-nav {
  display: flex;
  align-items: center;
}

.site-nav .item:not(:last-child) {
  margin-right: 50px;
}
.site-nav {
  margin-left: 93px;
}

.site-nav .link {
  display: block;

  color: var(--title-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.site-nav .link:hover,
.site-nav .link:focus,
.nav-contacts .link:hover,
.nav-contacts .link:focus {
  color: var(--accent-color);
}
.site-nav .link.current {
  color: var(--accent-color);
}

.nav-contacts {
  display: flex;
  margin-left: auto;
}

.nav-contacts .item + .item {
  margin-left: 50px;
}

.nav-contacts .link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.hero-section {
  background-color: var(--secondary-bcg-studio);
}
.hero-wrap {
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  width: 696px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-background-color);
  margin: 0 auto;
  margin-bottom: 30px;
}
.button {
  display: block;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: var(--accent-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  width: 216px;
  letter-spacing: 0.06em;
  color: var(--primary-background-color);
  border: var(--accent-color);
  border-radius: 4px;
  cursor: pointer;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
/*Benefits*/
.section-title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
}
.benefit {
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
.section-benefits {
  display: flex;
  gap: 30px;
}

.section-benefits .item {
  width: 270px;
}

/*What we can and team*/
.we-do {
  padding-top: 0px;
}
.we-can,
.our-team {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  line-height: 1.67;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.we-can-photo {
  display: flex;
  gap: 30px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.team-members {
  display: flex;
  gap: 30px;
  
}
.team {
background-color: var(--second-bcg-color);
}
.team-member {
  display: block;
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--title-text-color);
  background-color: var(--second-bcg-color);
}
.about-member {
  display: block;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--primary-text-color);
}

/*Portfolio buttons*/

.buttons-filter {
  color: var(--title-text-color);
  background: var(--second-bcg-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  border: var(--second-bcg-color);
  border-radius: 4px;
  cursor: pointer;
}
.buttons-filter {
  margin-left: 8px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
}

.buttons-filter:hover,
.buttons-filter:focus {
  background-color: var(--accent-color);
  color: var(--primary-background-color);
  border: var(--accent-color);
}

.portfolio-nav {
  display: flex;
  margin-bottom: 50px;
  align-items: center;
  justify-content: center;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.flex-element {
  width: 370px;
}
.example {
  padding-top: 20px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 20px;
  border-left: solid 1px #eeeeee;
  border-bottom: solid 1px #eeeeee;
  border-right: solid 1px #eeeeee;
}

.example-title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}
.example-text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.foo-link {
  margin-bottom: 9px;
}
.foo-link:last-child {
  margin-bottom: 0;
}
.address {
  font-style: normal;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-background-color);
}

.footer-link {
  font-style: normal;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.footer-link .link:hover,
.footer-link .link:focus {
  color: var(--primary-bcg-color);
}
